<nav class="site-nav">
  <a href="{{ '/' | relative_url }}" class="site-nav__logo">Swallow<em>.</em>dev</a>

  <div class="site-nav__tabs">
    <a href="{{ '/portfolio' | relative_url }}"
       class="site-nav__tab {% if page.url contains '/portfolio' %}site-nav__tab--active{% endif %}">
      Portfolio
    </a>
    <a href="{{ '/blog' | relative_url }}"
       class="site-nav__tab {% if page.url contains '/blog' %}site-nav__tab--active{% endif %}">
      Blog
    </a>
  </div>

  <div class="site-nav__right">
    <a href="{{ '/' | relative_url }}#about" class="site-nav__link">About</a>
    <a href="https://github.com/{{ site.author.github }}" class="site-nav__link" target="_blank">GitHub</a>
    <a href="mailto:{{ site.author.email }}" class="site-nav__link">Contact</a>
  </div>
</nav>
